<html>
    <head>
        <title>testing</title>
        <link rel="stylesheet" href="/assets/css/styles.css">
    </head>
    <body>
        <%= partial "partials/header" %>
        <div class="wrapper">
            <%= yield %>
        </div>
    </body>
</html>
